.voter-reg-box {
    background-color: rgba(255,255,255,0.7);
    padding:1% 3% 1% 3%;
    margin:5% 25% 0% 25%;
    color: #343a40;
    font-weight: bold;
    font-size:20px;
    font-family: 'Helvetica', monospace;
    border-radius: 10px;
  }

.voter-reg-title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #343a40;
}

.voter-reg-title {
    font-weight: bold;
    color: #343a40;
    margin: 0 0 15px 0;
}

/* .form-control:focus {
    border-color:#B39DDB;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgb(179, 157, 219, 1);
} */
