body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  /* background-image: url("D:/Blockchain-Projects/blockchain-background.jpg"); */
  background-image: url("./resources/blockchain-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size:100%;
  /* background-color: aqua; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

