.container{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    
}
.container2{
   display:flex;
   flex-direction:column; 
align-items:center;

}
.party-logo{
    width: 50px;
    height: 50px;;
    margin-right: 50px;
  
}
.second ,.third{
    color:rgb(15, 15, 15);
    padding: 20px 200px 20px 20px;
    background-color:rgb(255, 255, 255);
    width: fit-content;
    border-radius:20px;
    font-size:25px;
    text-align:left;
    opacity: 0.8;
    margin: 50px 0px 50px 100px;
    
}
.first-n{
    color:rgb(255, 255, 255);
    padding: 20px 200px 20px 10px;
    transition: transform 0.5s, background-color 0.5s ;
    background-color:rgba(50, 55, 58, 0.8);
    width: 700px;
    border-radius:20px;
    font-size:25px;
    text-align:left;
    margin: 25px 0px 5px 10px;
    
}

.first-n:hover{
    
    transform:scale(1.05,1.05) ;
   
}
.second-container{
    display:flex;
    justify-content:center;
    margin-bottom: 200px;
}
.first-container{
    display:flex;
    justify-content: center;
    margin: 20px;
}